@tailwind base;
@tailwind components;
@tailwind utilities;
/* GENERAL */
body{
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply bg-light text-dark;
}
.container{
    @apply mx-auto max-w-6xl;
}
.container-fluid{
    @apply mx-auto max-w-full px-6;
}
.primary-btn{
    @apply bg-primary text-light font-bold uppercase px-6 py-3 rounded inline-block items-center space-x-2 border-b-2 border-primary;
}
.primary-btn.lg{
    @apply text-xl px-8 py-4;
}
.secondary-btn{
    @apply bg-secondary text-light font-bold uppercase px-6 py-3 rounded inline-block items-center space-x-2 border-b-2 border-secondary;
}
.highlight-btn{
    @apply inline-block bg-highlight text-dark font-bold uppercase px-6 py-3 rounded inline-block items-center space-x-2 border-b-2 border-secondary;
}
.highlight-btn:hover{
    @apply bg-highlight-100;
}
.rounded-image{
    @apply w-full h-auto rounded shadow-lg;
}
.square-image{
    @apply w-full bg-center bg-cover rounded shadow-lg relative;
}
.square-image:before{
    content: '';
    @apply absolute top-0 left-0 w-full h-full bg-primary rounded;
    opacity: 0.10;
}
.marquee {
    overflow: hidden;
    display: flex;
}
.marquee h2 {
    white-space: nowrap;
}

@media screen and (max-width: 1080px) {
    .container{
        @apply px-6;
    }

    .primary-btn.lg{
        @apply text-lg px-6 py-3;
    }
}

/* COOKIES BANNER */
.cookies-banner{
    @apply fixed bottom-4 left-4 w-96 bg-highlight p-5 rounded shadow-lg text-sm font-bold text-primary;
    z-index: 999;
}
@media screen and (max-width: 1080px) {
    .cookies-banner{
        @apply bottom-0 left-0 w-full;
    }
}
/* TITLES & PARAGRAPHS */
h1{
    @apply text-6xl font-bold mb-5;
}
h2{
    @apply text-4xl font-bold mb-5;
}
h3{
    @apply text-2xl font-bold mb-5;
}
h4{
    @apply text-xl font-bold mb-5;
}
h1, h2, h3, h4, h5, h6{
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 1080px) {
    h1{
        @apply text-5xl;
    }
    h2{
        @apply text-3xl;
    }
    h3{
        @apply text-xl;
    }
    h4{
        @apply text-lg;
    }
}

.slogan{
    @apply text-4xl font-bold mb-5;
}

@media screen and (max-width: 1080px) {
    .slogan{
        @apply text-2xl;
    }
}

/* LANDING PAGE HEADER */
.landing-page-header{
    @apply bg-white py-4 fixed top-0 left-0 w-full shadow-md;
    z-index: 9999;
}
.landing-page-header a.logo img{
    @apply h-16;
}
.landing-page-nav{
    @apply items-center space-x-5;
}
.landing-page-nav a{
    @apply text-secondary font-bold text-sm uppercase relative;
}
.landing-page-nav a:hover{
    @apply opacity-75;
}   
.landing-page-nav a.active{
    @apply text-primary
}
.landing-page-nav a.active:before{
    content: '';
    @apply block w-full bg-highlight absolute left-0;
    height: 2px;
    bottom: -10px;
}

@media screen and (max-width: 1081px) {
    h1{
        @apply text-8xl;
    }
}

/* LANDING PAGE SOCIAL MEDIA */
.landing-page-social-media{
    transform: rotate(90deg);
    position: fixed;
    top: 50%;
    right: -50px;
    z-index: 10;
    @apply flex items-center space-x-5 uppercase font-bold text-sm;
}
.landing-page-social-media span{
    @apply block tracking-widest text-highlight;
}
.landing-page-social-media a{
    transform: rotate(-90deg);
}
.landing-page-social-media i{
    @apply text-xl text-highlight;
}

@media screen and (max-width: 1081px) {
    .landing-page-social-media{
        display: none;
    }
}
/* LANDING PAGE COVER */
.landing-page-cover{
    padding-top: 92px;
    @apply relative shadow overflow-hidden;
    z-index: 2;
    background-color: #e4d7cf
}
.landing-page-cover .curves{
    @apply absolute top-0 left-0 w-full h-full;
    z-index: 1;
    transform: scale(1.5);
    opacity: 0.45;
    display: none;
}
.landing-page-cover .slide-container{
    min-height: 600px;
    @apply flex items-center justify-center bg-cover bg-center relative;
}

/* Ajuste para ipad pro */
@media screen and (max-width: 1081px) {
    .landing-page-cover .slide-container{
        min-height: 450px;
    }
    .landing-page-cover .slide-container.one{
        background-position: 75% bottom !important;
        background-size: 120% !important;
        background-repeat: no-repeat !important;
    }
}

/* Ajuste para iPad Mini */
@media screen and (max-width: 768px) {
    .landing-page-cover .slide-container{
        min-height: 460px !important;
        height: 460px !important;
    }

    .landing-page-cover .slide-container h1{
        font-size: 1.8rem !important;
    }

    .landing-page-cover .slide-container.one{
        background-position: 60% bottom !important;
        background-size: 145% !important;
        background-repeat: no-repeat !important;
    }
}

/* Ajuste para iPhone 12 */
@media screen and (max-width: 390px) {
    .landing-page-cover .slide-container{
        background-image: none !important;
        min-height: 600px !important;
        height: 600px !important;
        @apply items-start;
        padding-top: 50px;
    }
}

/* Ajuste para iPhone 6 */
@media screen and (max-width: 420px) {
    .landing-page-cover .slide-container{
        background-image: none !important;
        min-height: 650px !important;
        height: 650px !important;
        padding-top: 50px !important;
    }
}


.landing-page-cover .slide-container.video video{
    @apply absolute top-0 left-0 w-full h-full object-cover;
    z-index: 1;
}
.landing-page-cover .slide-container.video:before{
    @apply absolute top-0 left-0 w-full h-full bg-secondary opacity-25;
    content: '';
    z-index: 2;
}
.landing-page-cover .slide-container.video .gradient{
    @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
    z-index: 2;
}

.landing-page-cover .slide{
    @apply h-full flex items-center justify-center relative;
    z-index: 2;
}
.landing-page-cover .slide h1{
    @apply text-5xl font-bold text-light;
}
.landing-page-cover .slide h2{
    @apply text-2xl font-bold text-light;
}
.landing-page-cover .slide p{
    @apply text-lg text-light;
}

@media screen and (max-width: 1081px) {
    .landing-page-cover .slide h1{
        @apply text-4xl;
    }
    .landing-page-cover .slide h2{
        @apply text-xl;
    }
    .landing-page-cover .slide p{
        @apply text-base;
    }
}

@media screen and (max-width: 768px) {
    .landing-page-cover .slide h1{
        @apply text-2xl !important;
    }
    .landing-page-cover .slide h2{
        @apply text-lg !important;
    }
    .landing-page-cover .slide p{
        @apply text-xs !important;
    }
}

.landing-page-cover .thumbs{
    @apply justify-center items-center space-x-5 bg-secondary relative;
    z-index: 2;
}
.landing-page-cover .thumbs ul{
    @apply flex items-center justify-between space-x-1
}
.landing-page-cover .thumbs ul li{
    @apply bg-highlight flex-1 p-7 text-primary cursor-pointer opacity-50 transition relative;
}
.landing-page-cover .thumbs ul li i{
    display: none;
    position:  absolute;
    top: -28px;
    left: calc(50% - 1.5rem);
    @apply text-highlight;
}
.landing-page-cover .thumbs ul li:hover,
.landing-page-cover .thumbs ul li.active{
    @apply bg-highlight opacity-75;
}
.landing-page-cover .thumbs ul li.active{
    @apply text-dark opacity-100;
}
.landing-page-cover .thumbs ul li.active i{
    display: block;
    font-size: 3rem;
    position: absolute;
}

/* Ajuste para iPad Pro */
@media screen and (max-width: 1081px) {
    .landing-page-cover .thumbs ul li p{
        @apply text-sm;
    }
    .landing-page-cover .thumbs ul li small{
        @apply block text-sm;
    }
}

/* Ajuste para iPad Mini */
@media screen and (max-width: 768px) {
    .landing-page-cover .thumbs ul li{
        @apply px-3 py-5;
        height: 90px;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    }
    .landing-page-cover .thumbs ul li p{
        @apply text-xs;
    }
    .landing-page-cover .thumbs ul li small{
        @apply block text-xs;
    }
}

@media screen and (max-width: 1081px) {
    .landing-page-cover .slide{
        @apply space-x-6;
    }
    .landing-page-cover .slide h1{
        @apply text-4xl;
    }
    .landing-page-cover .slide h2{
        @apply text-xl;
    }
    .landing-page-cover .slide p{
        @apply text-base;
    }

}

/* ABOUT */
.landing-page-about{
    @apply pb-16;
}

@media screen and (max-width: 1081px) {
    .landing-page-about{
        @apply pb-48;
    }
}


/* SLOGAN */
.landing-page-slogan{
    @apply bg-primary py-32 bg-cover bg-center relative flex items-center justify-center;
    min-height: 600px;
}
/* Ajuste para iPad Pro */
@media screen and (max-width: 1081px) {
    .landing-page-slogan{
        @apply pt-48 pb-20;
    }
}
/* Ajuste para iPad Mini */
@media screen and (max-width: 768px) {
    .landing-page-slogan{
        @apply pt-20 pb-20 !important;
    }
}
.landing-page-slogan video{
    @apply absolute top-0 left-0 w-full h-full object-cover;
    z-index: 1;
}
.landing-page-slogan:before{
    @apply absolute top-0 left-0 w-full h-full bg-highlight-900 opacity-50;
    z-index: 2;
    content: '';
}
.landing-page-slogan .container{
    @apply relative z-10;
}
/* TABLES */
table.landing-page-table{
    @apply text-left text-sm w-full border-collapse;
}
table.landing-page-table th{
    @apply font-bold bg-secondary text-white uppercase px-2 py-3 whitespace-nowrap border-b border-secondary;
}
table.landing-page-table td{
    @apply px-2 py-1 border-b border-secondary;
}
/* TESTIMONIALS */
.landing-page-testimonials{
    @apply bg-highlight-900 py-24;
}

.testimonial{
    @apply flex-1 bg-light p-10 rounded shadow-lg text-primary flex flex-col space-y-5 justify-center items-center;
}

/* Ajuste para iPad Pro */
@media screen and (max-width: 1081px) {
    .testimonial{
        @apply p-6;
    }

    .testimonial p{
        @apply text-sm;
    }
}

/* Ajuste para iPad Mini */
@media screen and (max-width: 768px) {
    .testimonial{
        @apply p-6;
    }

    .testimonial p{
        @apply text-xs;
    }
}

/* SUSCRIPTION FORM */
.landing-page-suscription-form{
    @apply bg-light flex items-stretch;
}

.landing-page-suscription-form .suscription-form{
    @apply flex flex-col flex-1 pl-16 pr-32 py-16 text-center items-center
}

@media screen and (max-width: 1081px) {
    .landing-page-suscription-form .suscription-form{
        @apply pl-6 pr-6;
    }
}

.landing-page-suscription-form .suscription-form input{
    @apply w-full bg-light border-b border-secondary p-3 rounded active:outline-none focus:outline-none focus:border-primary ring-0;
}

.landing-page-suscription-form .suscription-form button{
    @apply primary-btn lg w-full;
}

/* FOOTER */
.landing-page-footer{
    @apply bg-primary py-16 text-light;
}

.landing-page-footer .logo{
    @apply mb-10;
}

.landing-page-footer .logo img{
    @apply h-16;
}

.landing-page-menu-responsive-content{
    @apply bg-white p-10 fixed top-0 left-0 w-full h-full flex flex-col items-center justify-center;
    z-index: 999;
}

.landing-page-menu-responsive-content .landing-page-menu-responsive-social-media{
    @apply flex flex-col items-center uppercase font-bold text-sm;
}

.landing-page-menu-responsive-social-media .social-media-icons{
    @apply flex items-center space-x-5 text-2xl;
}

.landing-page-menu-responsive-nav{
    @apply flex flex-col items-center space-y-5;
}
.landing-page-menu-responsive-nav a{
    @apply text-primary font-bold text-xl uppercase relative;
}

.large-picture{
    z-index: -1;
    margin-top: -160px;
    overflow-x: hidden;
}

/* Ajuste para ipad pro */
@media screen and (max-width: 1081px) {
    .large-picture{
        margin-top: -200px !important;
        z-index: -1;
    }

    .large-picture img{
        width: 130% !important;
        max-width: 100%;
        position: relative;
        left: calc(50% - 67%) !important;
    }
}

/* Ajuste para iPad Mini */
@media screen and (max-width: 768px) {
    .large-picture{
        margin-top: -200px !important;
        z-index: -1;
    }

    .large-picture img{
        width: 150% !important;
        max-width: 100%;
        position: relative;
        left: calc(50% - 75%) !important;
    }
}

/* Ajuste pare iphone 12 */
@media screen and (max-width: 390px) {
    .large-picture{
        margin-top: -100px !important;
        z-index: -1;
    }

    .large-picture img{
        width: 200% !important;
        max-width: 100%;
        position: relative;
        left: calc(50% - 102%) !important;
    }
}

/* Ajuste para iPhone 6 */
@media screen and (max-width: 420px) {
    .large-picture{
        margin-top: -100px !important;
        z-index: -1;
    }

    .large-picture img{
        width: 200% !important;
        max-width: 100%;
        position: relative;
        left: calc(50% - 102%) !important;
    }
}

.large-picture img{
    width: 100%;
}


@media screen and (max-width: 1081px) {
    .large-picture{
        margin-top: -150px;
        z-index: -1;
    }

    .large-picture img{
        width: 200%;
        max-width: 200%;
        position: relative;
        left: calc(50% - 104%);
    }
}

.owl-dots{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.owl-theme .owl-dots{
    visibility: hidden;
}



.owl-theme .owl-dots .owl-dot span{
    @apply bg-light;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transition: all 0.3s;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    @apply bg-secondary;
}

@media screen and (max-width: 768px) {
    .owl-theme .owl-dots{
        visibility: visible;
    }
}

